<body class="back-image-1">
        <div class="container pt-30" style="margin-top:10px">
                <div class="row pt-30">
                    <div class="col-sm-7 mt-5 ml-5 mr-5 mb-5 mx-auto">
                  <h3><b>	<p class="text-style text-light">About Us</p></b></h3>
                   <p class="text-light text-left">Charles Drew's system for the storing of blood plasma (blood bank) revolutionized the medical profession. 
                     Dr. Drew was chosen to set up a system for storing blood and for its transfusion, a project nicknamed "Blood for Britain.”
                     A Blood bank is a place or organization, for all or any of the operations for collection, apheresis, storage, processing and distribution of blood drawn
                      from donors and/or for preparation,storage and distribution of blood components.</p>

                    <p class="text-light text-left">Blood banks collect blood and separate it into its various components so they can be used most effectively according to the needs of the patient. ... Blood is the vital connection to having a healthy body, and according to the American Red Cross, nearly 5 million people receive blood transfusions each year.</p>
                       
                  </div>
                  <br>
                  <div class="col-sm-5 mt-5 ml-5 mr-5 mb-5 mx-auto">
                    
                    <h2 class="center-align text-style text-light"><b></b></h2>
                    
              </div>
                </div>
            </div>
</body>
