<body class="back-image-login">

<br>
<br>
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<br><br><br><br><br><br>
<div  class="header">
		<div class="card-transparent card-back mt-10 mb-5 mb-10">
				
<h1 class="text-light text-align-center" >Contact us</h1>
</div>
<div  class="container">

	<div class="box">
		<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
		<div class='details'><h3>India</h3></div>
	</div>
	
	<div class="box">
		<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
		<div class='details'><h3>+91 9494924079</h3></div>
	</div>
	
	<div class="box">
		<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
		<div class='details'><h3>lakshminikothapalli56@gmail.com</h3></div>
	</div>
</div>
</div>

</body>