.request-button {
	background-color: red;
	color: white;
}
.back-image-login {
    background-image:url("https://image.freepik.com/free-vector/blood-donation-logo_23-2147506524.jpg");
    height: 100%;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow: hidden;

 }

 .card-back{
	 background-color:rgba(0,0,0,0.5) !important;
 }